<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns="http://www.springframework.org/schema/beans"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">
    <bean id="backendstudent" class="alaaElmeleh.u2w1d1.entities.BackendStudent">
        <constructor-arg index="0" type="String" value="Ajeje"/>
    </bean>
</beans>